:root {
  /* palette */
  --palette-white: #fff;
  --palette-cod-gray: #151515;

  /* fonts */
  --primary-font: 'Inter', sans-serif;

  /* transitions */
  --transition300ms: 0.3s;
  --sl-transition-x-fast: var(--transition300ms);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentcolor;
}

button {
  color: currentcolor;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
}

address {
  font-style: normal;
}

small {
  font-size: inherit;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

:focus-visible {
  outline: var(--sl-focus-ring);
  outline-offset: var(--sl-focus-ring-offset);
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url('/images/bg.jpg');
  background-image: image-set(url('/images/bg.webp'), url('/images/bg.jpg'));
  background-position: center center;
  background-size: cover;
  color: var(--palette-white);
  font-family: var(--primary-font);
}

.header {
  flex-shrink: 0;
}

.main {
  position: relative;
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  margin-top: auto;
}

.container {
  max-width: 1800px;
  padding: 0 10px;
  margin: 0 auto;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
